



a:link {
	
	background-color: yellow;
}

/* visited link*/ 
a:visited {
	
 color: #ccc;
	
}

 
a:hover {
    text-decoration:none;
	color: #95b3d7;
}

/* selected link 
a:active {
	 background-color: yellow;
}
a[target] {
    background-color: yellow;
}*/